// login.component.scss
.header {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #eee; // Restaurer la ligne

  .logo {
    max-width: 100px; // Logo légèrement plus grand qu'avant
    margin: 0; // Conserver l'alignement à gauche sur desktop
  }
}

.back-arrow {
  margin-left: 1rem; // Ajoute de l'espace entre la flèche et le bord gauche
  font-size: 18px; // Augmente légèrement la taille si nécessaire
  text-decoration: none; // Supprime le soulignement par défaut
  color: #333; // Couleur sobre pour la flèche

  &:hover {
    color: #6C63FF; // Changement de couleur au survol
  }
}

.form-container {
  padding: 2rem;
  max-width: 320px; // Réduction de la largeur maximale
  margin: 0 auto;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .form-group {
    margin-bottom: 1.5rem;

    label {
      display: block;
      margin-bottom: 0.5rem;
      font-size: 14px;
    }

    input {
      width: 100%;
      max-width: 100%; // Pour s'assurer que les entrées respectent la largeur du conteneur
      padding: 0.75rem;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 16px;
      box-sizing: border-box; // Pour inclure padding et border dans la largeur

      &:focus {
        outline: none;
        border-color: #6C63FF;
      }
    }
  }

  .submit-btn {
    width: 100%;
    max-width: 100%; // Assure que le bouton respecte la largeur du conteneur
    padding: 0.75rem;
    background-color: #6C63FF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;

    &:hover {
      background-color: darken(#6C63FF, 5%);
    }
  }
}

/* Responsive */
@media screen and (max-width: 768px) {
  .header {
    display: flex;
    justify-content: center;
    padding: 1.5rem 0.75rem;
    border-bottom: none; // Supprimer la ligne en responsive

    .logo {
      max-width: 320px; // Logo plus grand en responsive
      margin: 0 auto; // Centrage du logo en responsive
    }
  }

  .back-arrow {
    position: absolute;
    top: 1.5rem;
    left: 1rem;
    margin-left: 0;
  }

  .form-container {
    padding: 1.5rem 7rem;
    max-width: 100%;

    h2 {
      margin-bottom: 1.5rem;
      font-size: 1.5rem;
    }

    .form-group {
      margin-bottom: 1rem;

      label {
        font-size: 13px;
      }

      input {
        padding: 0.6rem;
        font-size: 15px;
      }
    }

    .submit-btn {
      padding: 0.7rem;
    }
  }
}
